general {
    lock_cmd = /home/erik/.config/hypr/scripts/lock.sh
    before_sleep_cmd = loginctl lock-session
    after_sleep_cmd = hyprctl dispatch 'hl.dsp.dpms({action = "on"})'
}

listener {
    timeout = 300
    on-timeout = /home/erik/.config/hypr/scripts/lock.sh
}

listener {
    timeout = 360
    on-timeout = hyprctl dispatch 'hl.dsp.dpms({action = "off"})'
    on-resume = hyprctl dispatch 'hl.dsp.dpms({action = "on"})'
}
